* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #40e0d0, #0ea5e9);
    padding: 25px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(90deg, #ffffff, #e0f7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card {
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
}

.card-img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
}

.card-content {
    position: absolute;
    bottom: 0;
    padding: 18px;
    color: white;
}

.card-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.card-text {
    font-size: 14px;
    opacity: 0.9;
}

.card:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.card-large {
    grid-column: span 2;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    max-width: 600px;
    animation: fadeIn 0.3s ease;
}

.modal img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.close {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@media (max-width: 1024px) {
    .card-large {
        grid-column: span 1;
    }
}

@media (max-width: 640px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
